/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  
  
  
  
  
  
  /* Rulesets to be matched up with selectors */
  
  .card article img{
    width: 22em;
    height: 22em;
  }
  
  .card header{
    background-image: linear-gradient(to bottom,rgb(255, 0, 0), rgb(255, 98, 0));
    border-radius: 1.5em 1.5em 0 0;
    padding: 16px;
    font-size: 28px;
    font-weight: bold;
    color:black;
  }
  
  .card footer{
    background-image: linear-gradient(to bottom, rgb(255, 98, 0),rgb(255, 0, 0));
    border-radius: 0 0 1.5em 1.5em;
    padding: 16px;
    font-size: 28px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .card {
    max-height: 100%
    float: right;
    background-color:red ;
    color: white;
    margin: 5em auto;
    border: 0.5em solid black;
    border-radius: 45px;
    margin-left:25px;
    margin-right:25px;
    font-family:'Helvetica neue';
  }
article {
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}


div {
  font-size: 18px;
  margin-right: auto;
  padding: 15px;
}